
MyCodeBase/.vs/

MyCodeBase/MyCodeBase.Console/bin/

MyCodeBase/MyCodeBase.Console/obj/

MyCodeBase/MyCodeBase.Library/bin/

MyCodeBase/MyCodeBase.Library/obj/

MyCodeBase/MyCodeBase.Web/App_Data/Logs/

MyCodeBase/MyCodeBase.Web/bin/

MyCodeBase/MyCodeBase.Web/obj/

MyCodeBase/MyCodeBase.Web/Template/

MyCodeBase/packages/
